[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/bilberry"]
	path = themes/bilberry
	url = https://github.com/Lednerb/bilberry-hugo-theme
